<!DOCTYPE html>
<html>
<head>
    <title>AI Osteoporosis Detection</title>
    <link rel="stylesheet" href="css/style.css">
</head>

<body>

<header>
    <h1>AI-Based Osteoporosis Detection System</h1>
</header>

<div class="container">

    <h2>Welcome</h2>

    <p>
        This system predicts the risk of osteoporosis using
        clinical bone density data and Artificial Intelligence.
    </p>

    <a href="upload.html">
        <button class="btn">Start Prediction</button>
    </a>

</div>

<script src="js/script.js"></script>

</body>
</html>